head
	link(rel="stylesheet" type="text/css" href="stylesheets/_header.css")
	link(rel="stylesheet" type="text/css" href="stylesheets/_myspot.css")
	link(rel="stylesheet" type="text/css" href="stylesheets/_recommendations.css")
	link(rel="stylesheet" type="text/css" href="stylesheets/index.css")
	title= 'Notespot'