.myspot-header
  h3  Kostas, welcome to your personal space
.myspot-mainbody
  .lastplay-list-container
    .lastplay-list-header
      h4.lastplay-list-header-title  Last played videos in current location
  .mylists-container
    .mylists-header
      h4.mylists-header-title  My Lists
    .mylists-mainbody
      ul.playlists