.myspot-header
	h3  #{user.name}, welcome to your personal space
.myspot-mainbody
	.lastplay-list-container
		.lastplay-list-header
			h4.lastplay-list-header-title  Playlist
		#video-container
		script(src='/javascripts/myspot.js')
	.mylists-container
		include _mylists.pug