doctype html
html
	include _head.pug
	body
		.indexpage-container
			.header-container
				include _header.pug
			h4 Login below
			form(action='/users/login' method='POST')
				.imgcontainer
					img.avatar(src='img_avatar2.png', alt='Avatar')
				.container
					label
						b Username
					|  
					input(type='text', placeholder='Enter Username', name='username', required='')
					|  
					label
						b Password
					|  
					input(type='password', placeholder='Enter Password', name='password', required='')
					|  
					button(type='submit') Login
					|  
					input(type='checkbox', checked='checked')
					|  Remember me
					.container(style='background-color:#f1f1f1')
						span.psw
						| Forgot 
						a(href='#') password?