doctype html
html
	include _head.pug
	body
		
		.indexpage-container
			.header-container
				include _header.pug
			.mainbody-container
				.myspot-container
					include _myspot.pug
				.recom-container
					include _recom.pug
			.footer-container
				include _footer.pug